html, body {
    height: 100%;
    margin: 0;
    /*background-color: #1e1f26;*/
    overflow: hidden;
}

#startPage{
    height: 100%;
    margin: 0;
    background:url(../图/background.jpg) no-repeat;
    background-size:100% 100%;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}
/*.startPageAni{*/
/*    opacity: 1;*/
/*    -webkit-animation: startPageDis 0.5s linear 0.5s;*/
/*}*/

/*@-webkit-keyframes startPageDis{*/
/*    from{opacity: 1}*/
/*    to{opacity: 0}*/
/*}*/

#leftDiv{
    margin-top: 10%;
    height: 65%;
    flex: 1;
}

#text{
    margin-top: 5%;
    padding-left: 38px;
}

.textTitle{
    color: #ffffff;
    font-size: 5em;
    font-weight: bold;
}

.textContent{
    color: #c7c9d3;
    font-size: 2.5em;
    line-height: 1.5;
}

.startButton{
    background: #47cf73;
    color: #000000;
    border-radius: 5px;
    font-size: 4em;
    width: 33%;
    height: 10%;
    margin: 5%;
    cursor:pointer;
    border: 0;
}
.startButton:hover{
    background: #3eb15e;
}

#rightDiv{
    margin-top: 10%;
    height: 65%;
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 2;
}

.heapDiv{
    visibility:visible;
    background: #1d1e22;
    width: 620px;
    height: 300px;
    margin: 0 auto;
    box-shadow: 15px 10px 20px #101011b0;
}
.heapDivDisapper{
    opacity: 1;
    margin-left: 0;
    -webkit-animation: heapDivMove 1s linear,heapDivDis 0.5s linear 0.5s;
}
@-webkit-keyframes heapDivMove{
    from{margin-left: 0}
    to{margin-left: 80%}
}
@-webkit-keyframes heapDivDis{
    from{opacity: 1}
    to{opacity: 0}
}


.stackDiv{
    visibility:visible;
    background: #1d1e22;
    width: 620px;
    height: 300px;
    float: right;
    margin: 20px;
    box-shadow: 15px 10px 20px #101011b0;
}
.stackDivDisapper{
    opacity: 1;
    margin-right: 20px;
    -webkit-animation: stackDivMove 0.9s linear,stackDivDis 0.5s linear 0.4s;
}
@-webkit-keyframes stackDivMove{
    from{ margin-right: 20px}
    to{ margin-right: -38%}
}
@-webkit-keyframes stackDivDis{
    from{opacity: 1}
    to{opacity: 0}
}


.methodAreaDiv{
    visibility:visible;
    background: #1d1e22;
    width: 620px;
    height: 300px;
    float: left;
    box-shadow: 15px 10px 20px #101011b0;
}
.methodAreaDivDisapper{
    opacity: 1;
    margin-left: 0;
    -webkit-animation: methodAreaDivMove 1s linear,methodAreaDivDis 0.5s linear 0.5s;
}
@-webkit-keyframes methodAreaDivMove{
    from{margin-left: 0}
    to{margin-left: 80%}
}
@-webkit-keyframes methodAreaDivDis{
    from{opacity: 1}
    to{opacity: 0}
}


.demoHeader{
    height: 35px;
    background-color: #1a1b1f;
    color: #aaaebc;
    font-size: 1.5em;
    border-bottom: 2px solid #78787840;
    padding-left: 20px;
    padding-right: 20px;
}

.demoBody{
    height: 265px;
    font-size: 1.7em;
}

.demoData{
    list-style: none;
}
.demoData1{
    color: #9f8198;
}
.demoData2{
    color: #e1ca72;
}
.demoData3{
    color: #7a99ad;
}

.demoButton{
    border-radius: 5px;
    float: right;
    font-size: 0.8em;
    color: white;
    background-color: #444857;
    cursor:pointer;
    border: 0;
    margin-top: 7px;
}

#transBottom{
    width: 128%;
    height: 126%;
    background: #c7c9d357;
    opacity: 0.3;
    position: absolute;
    transform: rotate(-57deg);
    left: 15%;
}

#mainPage{
    height: 100%;
    margin: 0;
    background-color: #1e1f26;
    display: block;
}

#header{
    height:7%;
    display: flex;
    align-items: Center;
}

#logo{
    margin-top: 5px;
}

.title{
    color: #ffffff;
    font-size: 3.5em;
    font-family: -webkit-pictograph;
}

#loadingArea{
    height: 50%;
    border: 37px solid #333642;
    border-top: 0px;
    display: flex;
    flex-direction: row;
}

.heap{
    float: left;
    height: 100%;
    flex: 1;
    border-right: 37px solid #333642;
}

.stack{
    float: left;
    height: 100%;
    flex: 1;
    border-right: 37px solid #333642;
}

.methodArea{
    float: right;
    height: 100%;
    flex: 1;
}

.methodHeader{
    height: 10%;
    background-color: #1a1b1f;
    color: #aaaebc;
    font-size: 2.5em;
    border-bottom: 2px solid #78787840;
    padding-left: 20px;
    padding-right: 20px;
}

.methodName{
    position: relative;
    /*display: block;*/
    top: 18%;
    transform: translateY(-50%);
}

.buttonShow{
    border-radius: 5px;
    float: right;
    font-size: 0.8em;
    color: white;
    background-color: #444857;
    cursor:pointer;
    border: 0;
    transform: translateY(52%);
}

.methodBody{
    height: 90%;
    color: #fff;
    font-size: 1.7em;
    /*overflow-y:scroll;*/
}

#methodAreaData{
    padding-left: 60px;
    width: 85%;
}

.zUIpanelScrollBox, .zUIpanelScrollBar {
    width: 10px;
    top: 4px;
    right: 2px;
    border-radius: 5px;

}

.zUIpanelScrollBox {
    background: black;
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.zUIpanelScrollBar {
    background: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#demo0{
    height: 90%;
    border: 2px solid #1F1F1F;
    margin: 20px auto;
    overflow: hidden;
}
#demo1 {
    /*width: 50%;*/
    height: 90%;
    border: 2px solid #1F1F1F;
    margin: 20px auto;
    overflow: hidden;
}
#demo2{
    height: 90%;
    border: 2px solid #1F1F1F;
    margin: 20px auto;
    overflow: hidden;
}
#code{
    /*height: 100%;*/
    width: 100%;
    font-size: 1.7em ;
}